body { margin: 0pt;
       padding: 0pt;
       font-family: Verdana,Arial,Helvetica,sans-serif;
       font-size: 0.8em;
}

.note{
    font-size: 8px;
    font-style: italic;
}

#conteneur { position: absolute;
             width: 750px;
             left: 50%;
             margin-left: -375px;
}

#header { height: 100px;
          width: 100%;
          padding-bottom: 100px;
          text-align: center;
          font-size: 20px;
}

#centre { width: 600px;
          margin-left: 150px;
          background-color: rgb(153, 153, 204);
          text-align: center;
}

#gauche { position: absolute;
          left: 0pt;
          width: 150px;
          text-align: center;
}

#pied { border-color: rgb(0, 0, 0);
        border-width: 5px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        height: 35px;
        background-color: rgb(153, 204, 153);
        opacity: 1;
}

.menugauche { margin: 0pt;
              padding: 0pt;
              list-style-type: none;
}

.menugauche li { margin-bottom: 5px;
                 text-align: left;
}

.menugauche a { margin: 0pt 2px;
                color: rgb(0, 0, 0);
                text-decoration: underline;
                text-align: left;
}

.menugauche a:hover { text-decoration: none;
}

.validation { border: 0pt none ;
              width: 88px;
              height: 31px;
}

h3 { margin: 0pt;
     padding: 10px;
     font-size: 30px;
}

table { border: 1px solid black;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
}

th { border: 1px solid black;
     padding: 4px;
     background-color: Gray;
}

td { border: 1px solid black;
     padding: 4px;
}

td.numerique { text-align: right;
}

p { margin: 0px;
    padding-bottom: 10px;
}

form{

    margin-top: 10px;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    border-right-style: double;
    border-left-style: double;
    border-bottom-style: double;
    border-top-style: double;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    text-align: left;
    vertical-align: middle;
} 

label{
    display: block;
    float: left;
    width: 100px;
    text-align: right;
}

input[type="submit"]{  

    
    margin-left: 100px;
}


