body { 
    margin: 0pt;
    padding: 0pt;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.8em;
}

section{
    float: left;
    margin-left: 170px;
    display: block;
    width: 600px;
}

h1{
    font-size: 2.5em;
}

nav{
    float: left;
    display: block;
    text-align: left;
    width: 250px;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 5px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 2px;
    text-decoration: none;
}

nav a:hover{
    color: #760001;
    border-bottom: 2px solid #760001;
}

form {
	overflow: hidden;
	clear: both;
}
label{
	clear: left;
	float: left;
	width: 100px;
	padding-right: 2%;
	height: 1em;
	margin-bottom: 10px;
}
input{
	float: left;	
	margin-bottom: 15px;
}
